<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="FILE_NAME">automation</Property>
    </Properties>

    <!-- Appenders -->
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <!-- File Appender - All Logs -->
        <RollingFile name="FileAppender"
                     fileName="${LOG_DIR}/${FILE_NAME}.log"
                     filePattern="${LOG_DIR}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- File Appender - Error Logs Only -->
        <RollingFile name="ErrorFileAppender"
                     fileName="${LOG_DIR}/${FILE_NAME}-error.log"
                     filePattern="${LOG_DIR}/${FILE_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <!-- File Appender - Debug Logs -->
        <RollingFile name="DebugFileAppender"
                     fileName="${LOG_DIR}/${FILE_NAME}-debug.log"
                     filePattern="${LOG_DIR}/${FILE_NAME}-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>

    </Appenders>

    <!-- Loggers -->
    <Loggers>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Root>

        <!-- Framework Loggers -->
        <Logger name="com.pharmacy.automation" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="DebugFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>

        <!-- Selenium Loggers -->
        <Logger name="org.openqa.selenium" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- WebDriverManager Loggers -->
        <Logger name="io.github.bonigarcia" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- TestNG Loggers -->
        <Logger name="org.testng" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Cucumber Loggers -->
        <Logger name="io.cucumber" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Allure Loggers -->
        <Logger name="io.qameta.allure" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Apache POI Loggers (Excel) -->
        <Logger name="org.apache.poi" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>

    </Loggers>

</Configuration>